.cd-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #666;
  vertical-align: middle;
  box-sizing: border-box;
  padding: var(--cd-space-m);

  & svg {
    vertical-align: top;
  }

  &.cd-icon-align-top {
    vertical-align: top;
  }

  &.cd-icon-align-bottom {
    vertical-align: bottom;
  }

  &.cd-icon-s {
    width: 16px;
    height: 16px;
    padding: var(--cd-space-s);
  }

  &.cd-icon-l {
    width: 32px;
    height: 32px;
  }

  &.cd-icon-xl {
    width: 40px;
    height: 40px;
  }
}
