.cd-textarea-wrapper {
  position: relative;
  padding: 0;
  width: 100%;
  display: inline-block;

  &.cd-textarea-borderless .cd-textarea,
  &.cd-textarea-borderless .cd-textarea:focus {
    border: none;
    box-shadow: none;
  }

  & .cd-textarea {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    min-width: 0;
    color: var(--cd-text-color);
    font-size: var(--cd-text-size);
    border: none;
    transition: all .3s;
    padding: var(--cd-space-m) var(--cd-space-l);
    border: 1px solid var(--cd-border-color);
    border-radius: var(--cd-radius-s);
    background-color: var(--cd-white-color);
    background-image: none;
    height: 100%;
    line-height: var(--cd-text-line-height);
    min-height: calc(var(--cd-text-line-height) * 2);

    &::-moz-placeholder {
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #bfbfbf;
      user-select: none;
    }

    &::placeholder {
      color: #bfbfbf;
      user-select: none;
    }

    &:-moz-placeholder-shown {
      text-overflow: ellipsis;
    }

    &:-ms-input-placeholder {
      text-overflow: ellipsis;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    &:hover {
      border-color: var(--cd-primary-hover-color);
      border-right-width: 1px!important;
    }

    &:focus {
      border-color: var(--cd-primary-hover-color);
      box-shadow: 0 0 0 2px var(--cd-primary-outline-color);
      outline: 0;
    }

    &[disabled] {
      color: var(--cd-other-text-color);
      background-color: var(--cd-bg-color);
      border-color: #d9d9d9;
      box-shadow: none;
      cursor: not-allowed;
      opacity: 1;
    }
  }

  & .c-textarea-close-icon {
    color: var(--cd-bg-gray-color);
    margin-left: var(--cd-space-l);
    cursor: pointer;
    position: absolute;
    top: var(--cd-space-l);
    right: var(--cd-space-l);
  }

  & .c-textarea-count {
    margin-left: var(--cd-space-l);
    text-align: right;
  }

  & .c-textarea-hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--cd-space-m) var(--cd-space-l);
    visibility: hidden;
    border: 1px solid;
    line-height: var(--cd-text-line-height);
  }
}

