:root {
  --cd-number-input-m: 24px;
  --cd-number-input-l: 32px;
}

.cd-number-input-wrapper {
  box-sizing: border-box;
  display: inline-flex;

  & .cd-number-input-minus, & .cd-number-input-plus {
    width: var(--cd-number-input-m);
    height: var(--cd-number-input-m);
    padding: calc(var(--cd-space-m) - 1px);
    border-radius: var(--cd-radius-m);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;

    & .cd-icon {
      width: 16px;
      height: 16px;
      vertical-align: top;
      color: var(--cd-title-color);
    }
  }

  & .cd-number-input-minus {
    border: 1px solid var(--cd-border-color);

    &:active {
      background-color: var(--cd-inner-bg-color);
    }

    &.cd-number-input-minus-disabled {
      /* background-color: var(--cd-disabled-color);
      border-color: var(--cd-disabled-color); */

      & .cd-icon {
        color: var(--cd-other-text-color);
      }
    }
  }

  & .cd-number-input-plus {
    background-color: var(--cd-primary-color);
    border: 1px solid var(--cd-primary-color);

    &:active {
      background-color: var(--cd-primary-hover-color);
      border-color: var(--cd-primary-hover-color);
    }

    &.cd-number-input-plus-disabled {
      background-color: var(--cd-bg-gray-color);
      border-color: var(--cd-bg-gray-color);

      & .cd-icon {
        color: var(--cd-other-text-color);
      }
    }
  }

  & .cd-number-input {
    background-color: var(--cd-white-color);
    border-radius: var(--cd-radius-m);
    margin: 0 var(--cd-space-s);
    width: 48px;
    padding: var(--cd-space-s);
    box-sizing: border-box;
    height: var(--cd-number-input-m);
    position: relative;
    overflow: hidden;
  }

  & .cd-number-input-inner {
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    border: none;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    background: none;
    font-size: var(--cd-h4-size);
    color: var(--cd-title-color);
    height: 100%;
    padding: 0;
    vertical-align: top;

    &.cd-number-input-caret {
      caret-color: transparent;
    }
  }

  & .cd-number-input-double {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    text-align: center;
    font-size: var(--cd-h4-size);
    color: var(--cd-title-color);
    background-color: #b4d8fd;
    line-height: calc(var(--cd-number-input-m) - var(--cd-space-s) * 2);
  }

  &.cd-number-input-l {
    & .cd-number-input-minus, & .cd-number-input-plus {
      width: var(--cd-number-input-l);
      height: var(--cd-number-input-l);
      padding: calc(var(--cd-space-l) - 1px);
    }

    & .cd-number-input {
      height: var(--cd-number-input-l);
    }

    & .cd-number-input-double {
      line-height: calc(var(--cd-number-input-l) - var(--cd-space-s) * 2);
    }
  }

  &.cd-number-input-s-font {
    & .cd-number-input-inner, & .cd-number-input-double {
      font-size: var(--cd-secondary-text-size);
    }
  }

  &.cd-number-input-circle {
    & .cd-number-input-minus, & .cd-number-input-plus {
      border-radius: 50%;
    }
  }
}
