.cd-toast {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0) scale(.5);
  word-break: break-word;
  /*overflow: hidden;*/
  z-index: -2;
  opacity: 0;
  width: 100vw;
  text-align: center;

  & .cd-toast-inner {
    background-color: rgba(0, 0, 0, .8);
    border-radius: var(--cd-radius-xl);
    color: #fff;
    font-size: var(--cd-h4-size);
    line-height: var(--cd-h4-line-height);
    padding: var(--cd-space-xl) calc(var(--cd-space-xl) * 2);
    display: inline-block;
    max-width: 80%;

    & .cd-icon {
      color: #fff;
      width: calc(var(--cd-h4-size) * 2);
      height: calc(var(--cd-h4-size) * 2);
    }
  }

  &.cd-toast-open {
    z-index: 200;
    opacity: 1;
    transform: translate3d(0, -50%, 0) scale(1);
    transition: all .2s ease;
  }

  &.cd-toast-with-icon {
    & .cd-toast-inner {
      font-size: var(--cd-text-size);
      padding: var(--cd-space-xxl) calc(var(--cd-space-xl) * 2);
      display: inline-block;
      max-width: 80%;

      & .cd-icon {
        margin: var(--cd-space-m) 0 var(--cd-space-l) 0;
      }
    }
  }
}
