:root {
  --cd-radius-s: 2px;
  --cd-radius-m: 4px;
  --cd-radius-l: 8px;
  --cd-radius-xl: 12px;
  --cd-radius-xxl: 16px;
  --cd-space-s: 2px;
  --cd-space-m: 4px;
  --cd-space-l: 8px;
  --cd-space-xl: 12px;
  --cd-space-xxl: 16px;
  --cd-h2-size: 22px;
  --cd-h3-size: 18px;
  --cd-h4-size: 16px;
  --cd-text-size: 14px;
  --cd-secondary-text-size: 12px;
  --cd-tag-text-size: 10px;
  --cd-h2-line-height: 30px;
  --cd-h3-line-height: 26px;
  --cd-h4-line-height: 24px;
  --cd-text-line-height: 20px;
  --cd-secondary-text-line-height: 16px;
  --cd-tag-text-line-height: 14px;
  --cd-depth-0: 0 0 2px rgba(0, 0, 0, 0.08);
  /* --cd-depth-1: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.08);
  --cd-depth-2: 0 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.08);
  --cd-depth-3: 0 3px 3px rgba(0, 0, 0, 0.12), 0 0 3px rgba(0, 0, 0, 0.08);
  --cd-depth-4: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.08);
  --cd-depth-5: 0 6px 6px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.08);
  --cd-depth-6: 0 8px 8px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.08);
  --cd-depth-7: 0 12px 12px rgba(0, 0, 0, 0.12), 0 0 12px rgba(0, 0, 0, 0.08);
  --cd-depth-8: 0 16px 16px rgba(0, 0, 0, 0.12), 0 0 16px rgba(0, 0, 0, 0.08);
  --cd-depth-9: 0 24px 24px rgba(0, 0, 0, 0.12), 0 0 24px rgba(0, 0, 0, 0.08); */
  --cd-depth-4: 0 2px 4px rgba(0, 0, 0, 0.12);
  --cd-depth-24: 0 4px 24px rgba(0, 0, 0, 0.12);
  --cd-depth-yellow: 0 2px 4px rgba(250, 190, 0, 0.25);
}

html {
  --cd-white-color: #fff;
  --cd-title-color: #221814;
  --cd-text-color: #595959;
  --cd-secondary-text-color: #8c8c8c;
  --cd-other-text-color: #bfbfbf;
  --cd-inner-bg-color: #fafafa;
  --cd-bg-color: #f2f2f2;
  --cd-bg-white-color: #fff;
  --cd-bg-gray-color: #d9d9d9;
  /* --cd-text-color: #1c1e21; */
  --cd-divider-color: #f0f0f0;
  --cd-border-color: #e0e0e0;
  --cd-disabled-color: #ebebeb;
  --cd-brand-color: #008cd6;
  --cd-strong-color: #fa5800;
  --cd-discount-color: #dc1613;
  --cd-cover-color: rgba(0, 0, 0, .5);
  --cd-primary-color: #fabe00;
  --cd-primary-hover-color: #ffd961;
  --cd-primary-active-color: #ffd961;
  --cd-primary-outline-color: rgba(255, 217, 97, .5);
  --cd-secondary-color: #221814;
  --cd-secondary-gray-color: #4b4848;
  --cd-success-color: #34cb69;
  --cd-success-hover-color: #73d13d;
  --cd-success-active-color: #389e0d;
  --cd-success-outline-color: rgba(82, 196, 26, .2);
  --cd-success-color-deprecated-bg: #f6ffed;
  --cd-success-color-deprecated-border: #b7eb8f;
  --cd-error-color: #f3202b;
  --cd-error-hover-color: #ff7875;
  --cd-error-active-color: #d9363e;
  --cd-error-outline-color: rgba(255, 77, 79, .2);
  --cd-error-color-deprecated-bg: #fff2f0;
  --cd-error-color-deprecated-border: #ffccc7;
  --cd-warning-color: #f5a84e;
  --cd-warning-hover-color: #ffc53d;
  --cd-warning-active-color: #d48806;
  --cd-warning-outline-color: rgba(250, 173, 20, .2);
  --cd-warning-color-deprecated-bg: #fffbe6;
  --cd-warning-color-deprecated-border: #ffe58f;
  --cd-info-color: #4ebbf5;
  --cd-info-hover-color: #ffc53d;
  --cd-info-active-color: #d48806;
  --cd-info-outline-color: rgba(250, 173, 20, .2);
  --cd-info-color-deprecated-bg: #e6f7ff;
  --cd-info-color-deprecated-border: #91d5ff;
  --cd-highlight-color: var(--cd-primary-color);
  --cd-primary-gradient: linear-gradient(90deg, #ffd961 0%, #fabe00 100%);
  --cd-red-gradient: linear-gradient(270deg, #f5232e 0%, #f7545d 100%);
  --cd-orange-gradient: linear-gradient(270deg, #fa8c16 0%, #fba446 100%);
  --cd-blue-color: #0e78f7;
  --cd-coupon-color: #fef2cc;
  --cd-coupon-highlight-color: #ffd961;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--cd-bg-color);
}

html[data-theme=dark] {

}
